


NEXT_PUBLIC_BASE_API=<"NEXT_PUBLIC_BASE_API">
NEXT_PUBLIC_BASE_API_CLIENT=<"NEXT_PUBLIC_BASE_API_CLIENT">


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<"NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME">
NEXT_PUBLIC_CLOUDINARY_API_KEY=<"NEXT_PUBLIC_CLOUDINARY_API_KEY">
NEXT_PUBLIC_CLOUDINARY_API_SECRET=<"NEXT_PUBLIC_CLOUDINARY_API_SECRET">
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=<"NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET">



# Credentioals
NEXT_PUBLIC_ADMIN_EMAIL=<"NEXT_PUBLIC_ADMIN_EMAIL">
NEXT_PUBLIC_ADMIN_PASSWORD=<"NEXT_PUBLIC_ADMIN_PASSWORD">

NEXT_PUBLIC_USER_EMAIL=<"NEXT_PUBLIC_USER_EMAIL">
NEXT_PUBLIC_USER_PASSWORD=<"NEXT_PUBLIC_USER_PASSWORD">
